.lyrics {
    white-space: pre-line;
    opacity: 0;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1;
    background-color: rgba(76, 76, 76, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.exact-lyrics {
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    width: 14vw;
    height: 12.5vw;
    font-size: 16px;
    overflow-y: hidden;

    &:hover {
        overflow-y: auto;
    }
}

.active-lyrics {
    opacity: 1;
}

@media screen and (max-width:1280px) {
    .lyrics {
        width: 26vw;
        height: 26vw;
    }

    .exact-lyrics {
        width: 19vw;
        height: 18.5vw;
        font-size: 15px;
    }

}

@media screen and (max-width:1024px) {
    .lyrics {
        width: 34vw;
        height: 34vw;
    }

    .exact-lyrics {
        width: 26vw;
        height: 24vw;
        font-size: 14px;
    }

}

@media screen and (max-width:768px) {
    .lyrics {
        width: 45vw;
        height: 45vw;
    }

    .exact-lyrics {
        width: 38vw;
        height: 32.5vw;
        font-size: 13px;
    }
}

@media screen and (max-width:640px) {
    .lyrics {
        width: 55vw;
        height: 55vw;
    }

    .exact-lyrics {
        width: 41vw;
        height: 35vw;
        font-size: 12px;
    }
}